.info {
    width: 80%;
    line-break: anywhere;
}

.icons {
    display: flex;
    justify-content: flex-end;
    
}

.icons i {
    font-size:30px; 
    color: #6EA4AE;
    cursor: pointer; 
    margin: 5px
}

.add_button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.add_button button {
    width: 13%;
    padding: 1% 0;
    border: none;
    background-color: #ffbc40;
    border-radius: 8px;
    cursor: pointer;
}