*{
    margin:0;
    padding:0
}

.container_profile{
    padding:0 !important;
    margin-bottom:100px;
}
.cards{
    width:100%;
    display:flex;
    margin:10px 0;
}

.cards>div{

    flex-basis: 100%;
    background:rgba(110,164,174,1);
    border-radius:10px;
    height:320px;
    position:relative;
}

.cards>div:not(:first-child){
    margin-left: 15px;
}
.cards img{
    position:absolute;
    top:30px;
    left:50%;
    transform:translate(-50%, 0)
}

.cards h5{
    margin-top:270px;
    text-align:center;
    color:#fff !important;
    text-transform: uppercase;
}
@media only screen and (max-width:1000px){
    .cards{
        flex-wrap:wrap;
        justify-content: space-around;
    }

    .cards>div{
        flex-basis:45%;
        margin:10px;
    }
}
@media only screen and (max-width:950px){
    .cards{
        flex-wrap:wrap;
        justify-content: space-around;
    }

    .cards>div{
        flex-basis:40%;
        margin:20px;
    }
}

@media only screen and (max-width:510px) {
    .cards>div{
        flex-basis:80%;
        margin:20px;
    }
}