*{
	box-sizing: border-box;
	margin: 0;
}
.releases-item-text ul li{
    font-size:21px;
}
.section1{
	margin-top: 150px;
	margin-bottom: 140px;
}
.releases{
    font-size:32px;
}
.style{
	margin-top: 33px;
	border: 2px solid #133960;
	border-radius: 10px;
	padding: 13px; 
}
.title{
	font-size: 27px;
	color: #133960;
}
.releases-item-img{
	height: 210px;
}
.releases-item-img div {
	margin-top: 12px;
}
.releases-item-img img{
	width: 100%;
	height: 100%;
}
.contentimage{
	height: 222px;
}
.releases-item-text ul{
	font-size: 17px;
	margin-top: 19px;
	padding-left: 35px;
	display: inline-block;
}
.pictures{
	text-align: right;
	cursor: pointer;
	;
}
.smallimg{
	width: 55px;
    height: 55px;
    display: inline-block;
    margin-left: 5px;
}
.smallimg img{
	width: 100%;
	height: 100%;
}
.content{
	/*height: 460px;*/
	border-right: 2px solid #9e9e9e9c;
	font-size: 14px;
	margin-top: 25px;
    margin-bottom: 25px;
}
.content1{
	height: 460px;
	font-size: 14px;
	margin-top: 25px;
    margin-bottom: 25px;
}
.contentdiv{
	width: 90%;
	/*height: 370px;*/
}
.contentimg-all{
	height: 80px
}
.contentimg{
	/*width: 50%;*/
	position: relative;
	/*height: 80px;*/
	text-align: center;
	margin: 11px auto;
}
.set-type-row{
    border-bottom: 2px solid #9e9e9e9c;;
}
.x-scroll{
    overflow-x:scroll;
}
.div_image{
	width: 31px;
	height: 27px;
	display: inline-block;
	background-size: cover;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.div_image_number_blok{
	position: relative;
}
.boxspan{
    font-size: 10px;
    color: white;
    position: relative;
}
.modalspan{
	font-size: 14px;
}
/*.div_image_number_blok img{
	position: absolute;
	top: 0;
	left: 0;
    width: 31px;
    height: 27px;
}*/
.box{
	position: absolute;
   /* width: 31px;
    height: 27px;*/
    left: 10px;
    top: 3px;
}
.all-lines{
    height: 14px;
    position: absolute;
    top: 23px;
}
.line{
	height: 14px;
    position: absolute;
    left: 37px;
    top: 23px;
}
.odd_box{
    position: absolute;
    top: 30px;
    /*width: 31px;*/
    /*height: 27px;*/
}
.even_box{
    position: absolute;
    top: 3px;
    /*width: 31px;*/
    /*height: 27px;*/
}
/*.box1{*/
/*	position: absolute;*/
/*    top: 30px;*/
/*    left: 47px;*/
    /*width: 31px;
    height: 27px;*/
/*}*/
.line1{
	height: 14px;
    position: absolute;
    left: 74px;
    top: 23px;
}
/*.box2{*/
/*	position: absolute;*/
/*    top: 3px;*/
/*    left: 84px;*/
    /*width: 31px;
    height: 27px;*/
/*}*/
.line2{
	height: 14px;
    position: absolute;
    left: 111px;
    top: 23px;
}
/*.box3{*/
/*	position: absolute;*/
/*    top: 30px;*/
/*    left: 121px;*/
   /* width: 31px;
    height: 27px;*/
/*}*/
.line3{
	height: 14px;
    position: absolute;
    left: 148px;
    top: 23px;
} 
/*.box4{*/
/*	position: absolute;*/
/*    top: 3px;*/
/*    left: 157px;*/
    /*width: 31px;
    height: 27px;*/
/*}*/
.line4{
	height: 14px;
    position: absolute;
    left: 184px;
    top: 23px;
}
/*.box5{*/
/*	position: absolute;*/
/*    top: 30px;*/
/*    left: 194px;*/
    /*width: 31px;
    height: 27px;*/
/*} */
.line5{
	height: 14px;
    position: absolute;
    left: 221px;
    top: 23px;
}
.box6{
	position: absolute;
    top: 3px;
    left: 231px;
    /*width: 31px;
    height: 27px;*/
}
.line6{
	height: 14px;
    position: absolute;
    left: 258px;
    top: 23px;
}
.box7{
	position: absolute;
    top: 30px;
    left: 268px;
    /*width: 31px;
    height: 27px;*/
}
.modalbody2{
 	padding: 20px;
}
.opisaniye{
	padding: 5px;
}
@media (max-width: 992px){
	.smallimg{
		width: 55px;
	}
	.releases-item-text ul{
	font-size: 15px;
	margin-top: 30px;
	padding-left: 61px;
	}
	.content{
	    border-right: unset;
	}
}
@media (max-width: 600px){
	.pictures{
	text-align: center;
	}.section1{
	margin-top: 0px;
	margin-bottom: 50px;
	}
}
@media (max-width: 375px){
	.contentimg-all{
		overflow: scroll;
	}
}
@media (max-width: 375px){
	/*.content{*/
	/*  height: 545px;*/
	/*}*/
	/*.content1{*/
	/*  height: 545px;*/
	/*}*/
}

