.sel{
    font-weight: bold;
    width: 85%;
    height: 35px;
    border: 0;
    border-bottom: 1px solid grey;
    margin-bottom: 8px;
    outline: none;
}
.form-control{
    width: 85%;
    height: 35px;
    border: 0;
    border-bottom: 1px solid grey;
    outline: none;
}
.form-control:focus{
    box-shadow: 0 0 0;
    border: 0;
    border-bottom: 1px solid grey;
}
#btn{
    border-style: none;
    outline: none;
    border: solid 1px #A9A8A8;
    font-size: 15px;
    color: #A9A8A8;
    margin-bottom: 10px;
    cursor: pointer;
}

#btn1{
    border-style: none;
    outline: none;
    border: solid 1px #A9A8A8;
    font-size: 15px;
    color: #A9A8A8;
    cursor: pointer;
}
.user_text{
    display: flex;
    justify-content: center;
}
.ci_logo_img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: lightgrey;
    overflow: hidden;
}
.red {
    color: red;
    margin-top: 5px;
}
.ci_logo_img >img{
    width: 100%;
    height: 100%;
}
.first_part{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    cursor: pointer;
}
.user_name{
    text-transform: capitalize;
    font-weight: bold;
    color: #2d5a7a;
    font-size: 17px;
}
.country_city{
    color: grey;
    font-size: 15px;
}
.sel_inps{
    width: 85%;
    height: 35px;
    outline: none;
    margin-bottom: 8px;
    border: 0;
    border-bottom: 1px solid grey
}

.fa-star {
    color: gold;
    font-size:15px;
}

@media (min-width: 1200px){
    /*.container{*/
    /*    max-width: 1420px*/
    /*}*/
}
