.change-password-sec{
    padding-top: 100px;
}
.change-password-sec .container{
   padding: 50px 0;
}
.change-password-sec .row{
    margin: 0 20px;
}
.heade-change-password{
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    background: #133960;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.heade-change-password h5{
    color: #fff !important;
    text-transform: uppercase;
    text-align: center;
}
.cont-inps{
    padding: 0 !important;
    border: 1px solid rgb(110,164,174);
    border-radius: 5px;
    text-align: center;
    margin: 10px auto;
    
}
.cont-inps input{
    width: 80%;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    margin: 10px 0;
    border: 1px solid rgb(110,164,174);
    
}
.change-password{
    width: 200px;
    height: 40px;
    background: #fad565;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 10px 0;
    cursor: pointer;
}
.result{
    padding: 10px 0;
}