*{
	box-sizing: border-box;
	margin: 0;
}
.real{
	margin-top: 150px;
	font-size:36px;
}
.section1{
	text-align: center;
}
.carusel{	
	margin: 40px;
}
.image{
	width: 200px;
	height: 190px;
	border-radius: 110px;
}
.image img{
	width: 100%;
	height: 100%;
	border-radius: 110px;
} 
.color{
	color: #133960;
}
.point{
	font-size: 20px;
    color: #e20a0a;
    font-weight: 700;
}