
.rel_checklist{
    display: flex;
    margin-top: 126px;
    width: 100%;
    flex-wrap: no-wrap;
}
.column_first{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.item:nth-child(1){
    margin-top: 113px;
}

.rel_checklist_column:nth-child(1){
    flex: 1;
    background: #6EA4AE;
}
.rel_checklist_column:nth-child(2){
    margin-left: 1em;
    background: #6EA4AE;
    flex: 3;
}
.checklist_flex{
    width: 80% !important;
}
h1{
    color: #fff;
}
.first_flex{
    width:100%
}
.first_flex>div{
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 275px;
    margin-bottom: 1em;
    margin-left: 1em;
    justify-content: space-around;
    align-items: center;
    border: 4px solid #fff;
}
.item1>img{
    width:90%
}
h3{
    color: #FAD466 !important;

}
.item>h3{
    padding: 20px !important;
}
.flag_div{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: #133960;
    text-align: center;
    line-height: 200px;
}
/*.active{*/
/*    background:grey;*/
/*}*/
@media all and (max-width:1373px){

    .checklist_flex{
        width: 100% !important
    }
}
@media all and (max-width:1105px){

    .first_flex>div{
        width: 30% !important
    }
}
@media (max-width:1000px){
    .rel_checklist{
        margin-top: 1em !important;
    }
}

@media (max-width:800px){
    .item1{
        width:45% !important
    }
}

@media (max-width:769px){

    h1{
        font-size: 30px!important
    }
    .item1{
        width:45% !important;
        height: 240px !important;

    }
    .item1>img{
        width: 80% !important;
    }
}
@media (max-width:716px){
    .first_flex>div{
        width:45% !important;
        height: 240px !important;

    }
    .first_flex>div>img{
        width: 80% !important;
    }
}
@media all and (max-width:620px){
    .rel_checklist{
        flex-direction: column !important;
    }
    .column_first{
        flex-direction:row;
        width:100%;
        height:200px;
        justify-content: space-evenly;
    }
    .item:nth-child(1){
        margin-top: 0;
    }
    .rel_checklist_column:nth-child(2){
        margin-left:0!important;
        margin-top:1em !important;
    }
    .first_flex>div{
        height:275px !important;
    }
    .first_flex>div>img{
        width: 80% !important;
    }
}

@media (max-width:426px){

    .rel_checklist{
        flex-wrap: wrap;
    }
    .checklist_flex{
        width:100%!important;
    }
    h1{
        font-size: 22px !important;
    }
}
@media (max-width: 376px){
    .item1{
        height: 200px !important;
    }
    .item1>img{
        width: 80% !important;
    }

}
@media (max-width:321px){
    .first_flex>div{
        width:100%!important;
        height:275px !important;
        margin:0 2em 1em !important;
    }
    .first_flex>div>img{
        width: 80% !important;
    }
}




